<div class="sidebar" data-color="blue">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
            
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Cc.Anonymous
            </a>
        </div>
        <ul class="nav">
            <li class="{% if 'index' in segment %} active {% endif %}">
                <a href="/">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="{% if 'buses' in segment %} active {% endif %}">
                <a href="/buses">
                    <i class="tim-icons icon-bus-front-12"></i>
                    <p>Buses</p>
                </a>
            </li>
            <li class="{% if 'routes' in segment %} active {% endif %}">
                <a href="/routes">
                    <i class="tim-icons icon-compass-05"></i>
                    <p>Routes</p>
                </a>
            </li>
            <li class="{% if 'bookings' in segment %} active {% endif %}">
                <a href="/bookings">
                    <i class="tim-icons icon-notes"></i>
                    <p>Bookings</p>
                </a>
            </li>
            <li class="{% if 'passengers' in segment %} active {% endif %}">
                <a href="/passengers">
                    <i class="tim-icons icon-single-02"></i>
                    <p>Passengers</p>
                </a>
            </li>
            <li class="{% if 'reports' in segment %} active {% endif %}">
                <a href="/reports">
                    <i class="tim-icons icon-paper"></i>
                    <p>Reports</p>
                </a>
            </li>
            <li>
                <a href="{% url 'login' %}">
                    <i class="tim-icons icon-button-power"></i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>
